In [277]:
#import data and dependencies
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib
from sklearn import tree

data_frame = pd.read_csv('music.csv')
data_frame

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [278]:
 #describe
data_frame.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [279]:
#values in array form
data_frame.values

array([[20, 1, 'HipHop'],
       [23, 1, 'HipHop'],
       [25, 1, 'HipHop'],
       [26, 1, 'Jazz'],
       [29, 1, 'Jazz'],
       [30, 1, 'Jazz'],
       [31, 1, 'Classical'],
       [33, 1, 'Classical'],
       [37, 1, 'Classical'],
       [20, 0, 'Dance'],
       [21, 0, 'Dance'],
       [25, 0, 'Dance'],
       [26, 0, 'Acoustic'],
       [27, 0, 'Acoustic'],
       [30, 0, 'Acoustic'],
       [31, 0, 'Classical'],
       [34, 0, 'Classical'],
       [35, 0, 'Classical']], dtype=object)

In [280]:
#split data input data
input = data_frame.drop(columns='genre')
input

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [281]:
data_frame.head(5)

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [282]:
#split data output data
output = data_frame['genre']
output

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [283]:
#split data
input_train, input_test, output_train, output_test = train_test_split(input_variable,output_variable,test_size = 0.3)

In [284]:
 #Choose a model 
model = DecisionTreeClassifier()
#Train Data
model.fit(input_train,output_train)

#predict
predictions = model.predict(input_test)
predictions

array(['Classical', 'Acoustic', 'Classical', 'Classical', 'Jazz',
       'Acoustic'], dtype=object)

In [285]:
#accuracy
accuracy = accuracy_score(output_test,predictions)
print('The accuracy is '+ str(accuracy*100)+'%')

The accuracy is 83.33333333333334%

In [286]:
#model persistence
joblib.dump(model,'music-recommender.joblib')

['music-recommender.joblib']

In [287]:
#model loading
model = joblib.load('music-recommender.joblib')
predictions_loaded = model.predict([[23,1]])
predictions_loaded

array(['HipHop'], dtype=object)

In [289]:
#visiualize
tree.export_graphviz(model,
                     out_file='music-recommender.dot', 
                     feature_names=['age','gender'],
                     class_names=sorted(output.unique()),
                     label = 'all',
                     rounded = True,
                     filled = True
                     )

TypeError: export_graphviz() got an unexpected keyword argument 'class_name'